@import '../../../styles/colors';
@import '../../../styles/static-variables';
@import '../../../styles/mixins';

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: 5000;
  #popup-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    &[data-active="true"] {
      display: flex;
      pointer-events: all;
    }
    //#popup-content {
    //
    //}
  }
}