@import "dynamic-variables";
@import "colors";
@import "static-variables";

@mixin bottom-accent-shadow($color, $opacity-length) {
  background: transparentize($color, $opacity-length);
  box-shadow: 0 3px 0 0 $color;
  transition: 0.5s ease background;
  &:hover {
    background: transparentize($color, calc($opacity-length + 0.1));
  }
}


@mixin product-cart-select-button {
  li {
    color: var(--shop-card-select-btn-color);
    cursor: pointer;
    transition: .25s ease color;

    &[data-selected='true'] {
      color: var(--shop-card-select-btn-color-active);
    }

    //&:not([data-selected='true']):hover {
    //  color: $bg-gray-400;
    //}
  }
}


@mixin dark-theme--action-element-hover-effect {
  &:hover {
    background: transparentize(#fff, 0.95);
    cursor: pointer;
  }
}

@mixin light-theme--action-element-hover-effect {
  &:hover {
    background: transparentize(#000, 0.95);
    cursor: pointer;
  }
}


@mixin if-light-theme {
  html:has([data-theme="light"]) {
    @content
  }
}

@mixin if-dark-theme {
  html:has([data-theme="dark"]) {
    @content
  }
}


$break-point-320: 320px;
$break-point-360: 360px;
$break-point-420: 420px;
$break-point-568: 568px;
$break-point-768: 768px;
$break-point-992: 992px;
$break-point-1200: 1200px;


@mixin media-320 {
  @media screen and (width <= $break-point-320) {
    @content;
  }
}

@mixin media-360 {
  @media screen and (width <= $break-point-360) {
    @content;
  }
}

@mixin media-420 {
  @media screen and (width <= $break-point-420) {
    @content;
  }
}

@mixin media-768 {
  @media screen and (width <= $break-point-768) {
    @content;
  }
}

@mixin media-992 {
  @media screen and (width <= $break-point-992) {
    @content;
  }
}

@mixin media-1200 {
  @media screen and (width <= $break-point-1200) {
    @content;
  }
}

@mixin media-custom($px) {
  @media screen and (width <= $px) {
    @content;
  }
}