$header-height: 48px;
$menu-width: 12rem;
$borders-color: rgba(0, 0, 0, 0.1);
$upper-bar-height: 40px;

/* ACCENT COLORS */

$main-accent-color: blue;
$danger-accent-color: red;
$warning-accent-color: red;
$success-accent-color: green;
