@import '../../../styles/static-variables';

.content-wrapper {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - $header-height);

  .main-wrapper {
    border-left: 1px solid $borders-color;
    width: 100%;
    min-height: calc(100vh - $header-height);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}
